---
title: Уютное Гнездышко
---
extends layouts/_layout
block content
  section.intro
    h1 Все страницы
    ul
      li
        a(href="find-apartment.html") Каталог
      li
        a(href="#") Объявления