@font-face {
  font-family: 'Siemens Sans OT';
  src: url('../fonts/SiemensSansOT-Regular.woff2') format('woff2'),
      url('../fonts/SiemensSansOT-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Siemens Sans OT';
  src: url('../fonts/SiemensSansOT-BoldItalic.woff2') format('woff2'),
      url('../fonts/SiemensSansOT-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Siemens Sans OT';
  src: url('../fonts/SiemensSansOT-Italic.woff2') format('woff2'),
      url('../fonts/SiemensSansOT-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Siemens Sans OT';
  src: url('../fonts/SiemensSansOT-Bold.woff2') format('woff2'),
      url('../fonts/SiemensSansOT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Siemens Sans OT';
  src: url('../fonts/SiemensSansOT-Regular.woff2') format('woff2'),
      url('../fonts/SiemensSansOT-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Siemens Sans OT';
  src: url('../fonts/SiemensSansOT-Bold.woff2') format('woff2'),
      url('../fonts/SiemensSansOT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Siemens Sans OT';
  src: url('../fonts/SiemensSansOT-Italic.woff2') format('woff2'),
      url('../fonts/SiemensSansOT-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Siemens Sans OT';
  src: url('../fonts/SiemensSansOT-BoldItalic.woff2') format('woff2'),
      url('../fonts/SiemensSansOT-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

// @font-face {
//   font-family: 'siemens_sans_otregular';
//   src: url('siemens_sans_otregular.woff2') format('woff2'),
//       url('siemens_sans_otregular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'siemens_sans_otregular';
//   src: url('siemens_sans_otregular.woff2') format('woff2'),
//       url('siemens_sans_otregular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'siemens_sans_otregular';
//   src: url('siemens_sans_otregular.woff2') format('woff2'),
//       url('siemens_sans_otregular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'siemens_sans_otregular';
//   src: url('siemens_sans_otregular.woff2') format('woff2'),
//       url('siemens_sans_otregular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

