.filter
  .container
    form
      .row
        .col-xs-12
          .filter__time
            input(type="radio" name="duration" id="duration-1" checked)
            label(for="duration-1") На длительный срок
            input(type="radio" name="duration" id="duration-2")
            label(for="duration-2") На сутки
