footer.footer
  .footer__top
    .container
      .row
        .col-xs-2
          ul.footer__nav
            li
              a(href="#") Найти гнездышко
            li
              a(href="#") Найти гнездоискателя
            li
              a(href="#") Найти гнездососеда
        .col-xs-2
          ul.footer__nav
            li
              a(href="#") Вопросы и ответы
            li
              a(href="#") Черный список
            li
              a(href="#") Реклама
        .col-xs-2
          ul.footer__nav
            li
              a(href="#") Отзывы о сервисе
            li
              a(href="#") Правила сервиса
            li
              a(href="#") Модераторы в работе
        .col-xs-5.center-xs
          ul.footer__social
            li
              a(href="#")
                img(src="img/telegram.svg", alt="")
            li
              a(href="#")
                img(src="img/youtube.svg", alt="")
            li
              a(href="#")
                img(src="img/vk.svg", alt="")
            li
              a(href="#")
                img(src="img/facebook.svg", alt="")
  .footer__bottom
    .container
      .row
        .col-xs-6
          a(href="#") Политика обработки персональных данных
          a(href="#") Типовой договор аренды
        .col-xs-6
          a(href="#").footer__development Разработка сервиса
            i.icon.icon-development