//BEGIN header
header.header
  a(href="#").header__logo
    img(src="img/logo.svg", alt="")
  ul
    li.active
      a(href="#") Найти гнездышко
    li
      a(href="#") Найти гнездоискателя
    li
      a(href="#") Найти гнездососеда
    li
      a(href="#") Черный список
  .header__group
    .header__search
      a(href="#")
        i.icon.icon-search
        i.icon.icon-close
      input(type="text" placeholder="Поиск..." id="search")
    a(href="#").header__plus
      i.icon.icon-plus
      | Создать объявление
    .header__heart
      a(href="#")
        i.icon.icon-heart
  .header__login
    a(href="#") Войти
//END header
