.pagination
  a(href="#").arrow
    i.icon.icon-arrow-left
  ul
    li
      a(href="#") 1
    li
      p ...
    li
      a(href="#") 6
    li
      a(href="#") 7
    li.active
      a(href="#") 8
    li
      a(href="#") 9
    li
      a(href="#") 10
    li
      p ...
    li
      a(href="#") 15
  a(href="#").arrow
    i.icon.icon-arrow-right
