.search__history.modal#search__history
  h2 История поиска
  a(href="#" rel="modal:close").modal-close
    span
  .search__history__content
    .search__history__block
      time
        i.icon.icon-clock
        | 26 июля 12:03
      a(href="#") 2-комнатная квартира 25 000 - 35 000 руб. Санкт-Петербург Красногвардейский район, 15-20 мин пешком от станции метро Новочеркасская 
      a(href="#").delete 
        i.icon.icon-delete
    .search__history__block
      time
        i.icon.icon-clock
        | 26 июля 12:03
      a(href="#") 2-комнатная квартира 25 000 - 35 000 руб. Санкт-Петербург Красногвардейский район, 15-20 мин пешком от станции метро Новочеркасская 
      a(href="#").delete 
        i.icon.icon-delete
    .search__history__block
      time
        i.icon.icon-clock
        | 26 июля 12:03
      a(href="#") 2-комнатная квартира 25 000 - 35 000 руб. Санкт-Петербург Красногвардейский район, 15-20 мин пешком от станции метро Новочеркасская 
      a(href="#").delete 
        i.icon.icon-delete
    .search__history__block
      time
        i.icon.icon-clock
        | 26 июля 12:03
      a(href="#") 2-комнатная квартира 25 000 - 35 000 руб. Санкт-Петербург Красногвардейский район, 15-20 мин пешком от станции метро Новочеркасская 
      a(href="#").delete 
        i.icon.icon-delete
    .search__history__block
      time
        i.icon.icon-clock
        | 26 июля 12:03
      a(href="#") 2-комнатная квартира 25 000 - 35 000 руб. Санкт-Петербург Красногвардейский район, 15-20 мин пешком от станции метро Новочеркасская 
      a(href="#").delete 
        i.icon.icon-delete
    .search__history__block
      time
        i.icon.icon-clock
        | 26 июля 12:03
      a(href="#") 2-комнатная квартира 25 000 - 35 000 руб. Санкт-Петербург Красногвардейский район, 15-20 мин пешком от станции метро Новочеркасская 
      a(href="#").delete 
        i.icon.icon-delete
    .search__history__block
      time
        i.icon.icon-clock
        | 26 июля 12:03
      a(href="#") 2-комнатная квартира 25 000 - 35 000 руб. Санкт-Петербург Красногвардейский район, 15-20 мин пешком от станции метро Новочеркасская 
      a(href="#").delete 
        i.icon.icon-delete
  .search__history__btn
    a(href="#").btn.btn-primary Очистить историю

  