@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-arrow-down-shaded: "\EA01";
$icon-arrow-down: "\EA02";
$icon-arrow-left: "\EA03";
$icon-arrow-right: "\EA04";
$icon-burger: "\EA05";
$icon-clock: "\EA06";
$icon-development: "\EA07";
$icon-heart: "\EA08";
$icon-location: "\EA09";
$icon-menu: "\EA0A";
$icon-plus: "\EA0B";
$icon-rub: "\EA0C";
$icon-search: "\EA0D";
$icon-up: "\EA0E";
$icon-view: "\EA0F";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-arrow-down-shaded:before { content: $icon-arrow-down-shaded; }
.icon-arrow-down:before { content: $icon-arrow-down; }
.icon-arrow-left:before { content: $icon-arrow-left; }
.icon-arrow-right:before { content: $icon-arrow-right; }
.icon-burger:before { content: $icon-burger; }
.icon-clock:before { content: $icon-clock; }
.icon-development:before { content: $icon-development; }
.icon-heart:before { content: $icon-heart; }
.icon-location:before { content: $icon-location; }
.icon-menu:before { content: $icon-menu; }
.icon-plus:before { content: $icon-plus; }
.icon-rub:before { content: $icon-rub; }
.icon-search:before { content: $icon-search; }
.icon-up:before { content: $icon-up; }
.icon-view:before { content: $icon-view; }
