.icon-all {
  width: 4.5em;
  height: 1em;
  fill: #038992;
}
.icon-armchair {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
.icon-arrow-down-shaded {
  width: 1.8em;
  height: 1em;
  fill: initial;
}
.icon-arrow-down {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-bath {
  width: 1.88em;
  height: 1em;
  fill: initial;
}
.icon-bed {
  width: 1.68em;
  height: 1em;
  fill: initial;
}
.icon-burger {
  width: 1em;
  height: 1em;
  fill: #BCBCBC;
}
.icon-chair {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: #616161;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-couch {
  width: 1.88em;
  height: 1em;
  fill: initial;
}
.icon-cupboard {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-delete {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-development {
  width: 7.8em;
  height: 1em;
  fill: #878787;
}
.icon-douche {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
.icon-hairdryer {
  width: 1.22em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1.13em;
  height: 1em;
  fill: #616161;
}
.icon-iron {
  width: 2.07em;
  height: 1em;
  fill: initial;
}
.icon-ironing-board {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-kettle {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-location {
  width: 0.7em;
  height: 1em;
  fill: #BCBCBC;
}
.icon-menu {
  width: 0.94em;
  height: 1em;
  fill: #616161;
}
.icon-microwave {
  width: 1.45em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-refrigerator {
  width: 0.44em;
  height: 1em;
  fill: initial;
}
.icon-rub {
  width: 0.73em;
  height: 1em;
  fill: #616161;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-stove {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-table {
  width: 1.78em;
  height: 1em;
  fill: initial;
}
.icon-toilet {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-tv {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-up {
  width: 1em;
  height: 1em;
  fill: #BCBCBC;
}
.icon-view {
  width: 1.7em;
  height: 1em;
  fill: #616161;
}
.icon-washer {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
