.icon-arrow-down-shaded {
  width: 1.8em;
  height: 1em;
  fill: initial;
}
.icon-arrow-down {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.icon-burger {
  width: 1em;
  height: 1em;
  fill: #BCBCBC;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: #616161;
}
.icon-development {
  width: 7.8em;
  height: 1em;
  fill: #878787;
}
.icon-heart {
  width: 1.13em;
  height: 1em;
  fill: #616161;
}
.icon-location {
  width: 0.7em;
  height: 1em;
  fill: #BCBCBC;
}
.icon-logo {
  width: 0.73em;
  height: 1em;
  fill: url(#a);
}
.icon-menu {
  width: 0.94em;
  height: 1em;
  fill: #616161;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-rub {
  width: 0.73em;
  height: 1em;
  fill: #616161;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-up {
  width: 1em;
  height: 1em;
  fill: #BCBCBC;
}
.icon-view {
  width: 1.7em;
  height: 1em;
  fill: #616161;
}
