html
body
  font-family: 'Siemens Sans OT', sans-serif
  box-sizing: border-box
  position: relative
.container
  width: 100% !important
  max-width: 1200px
  box-sizing: border-box
a
  text-decoration: none
  transition: all 0.3s
  cursor: pointer